<section>
  <h2>Create your own room</h2>

  <form action="/create-room" method="POST">
    <label class="sr-only" for="room-pass">Enter a password</label>
    <input
      type="password"
      id="room-pass"
      name="password"
      placeholder="enter a password"
    />
    <button type="submit">
      <img src="/images/users-white.svg" alt="Create Room" /> Create Room
    </button>
  </form>
</section>
