<div class="no-questions">
  <img src="/images/noquestions.svg" alt="No questions" />
  <p>No questions around here...</p>
  <p>Ask your first question and send the code for this room to others!</p>
</div>